<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Travel App</title>
        <meta name="description" content="A Travel App for users to plan their trip">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/base.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/form.css">
        <link rel="stylesheet" href="../styles/result.css">
        <link rel="stylesheet" href="../styles/response.css">
    </head>
    <body>
        <main>
            <header>
                <h1 id="title">Travel App</h1>
                <p id="subtitle">Travelling is Fun</p>
            </header>
            <section class="sub">
                <div class="travel">Travel Log</div>
            </section>
            <section class="main-section">
                <form id="mainform">
                    <div class="container">
                        <label for="place" class="form-labels box">Enter Destination</label>
                        <input id="place" type="text" class="form-inputs box">
                        <label for="date-of-departure" class="form-labels box">Date Of Departure</label>
                        <input id="date-of-departure" type="date" class="form-inputs box">
                        <label for="date-of-end" class="form-labels box">End Trip Date</label>
                        <input id="date-of-end" type="date" class="form-inputs box">
                        <button type="submit" onclick="" class="form-btn box">Submit</button>
                    </div>     
                </form>
            </section>
            <section class="results">
                <h2>Form Results:</h2>
                <div class="result-box">
                    <div class="result-box-one final-one">
                    </div>
                    <div class="result-box-two final-two">
                    </div>
                    <div class="result-box-three final-three">
                    </div>
                </div>
            </section>
            </section>
        </main>
        <script type="module" src="../js/countdownapp.js" async defer></script>
    </body>
</html>