section.results {
    grid-area: q;
    margin-top: 15px;
}

.result-box {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 20px;
}

.result-box-one {
    background-color: deeppink;
    font-size: bold;
    color: black;
    border-radius: 10px;
}

.result-box-two {
    background-color: orange;
    font-size: bold;
    color: black;
    border-radius: 10px;
}

.result-box-three {
    background-color: greenyellow;
    font-size: bold;
    color: black;
    border-radius: 10px;
}






